{% extends 'task/base.html' %}

{% block head %}
	<title>Task</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% endblock %}

{% block body %}
	<h1>Task</h1>
	<p>{{ id }}</p>
	<p>{{ password }}</p>
	<!--{% for i in message %}
		<div class="message">
			<p>{{ i.author.user_name }}</p>
			<p>{{ i.message }}</p>
			<p>{{ i.date }}</p>
		</div>
	{% endfor %}-->
	<div class="value_style"  id="content"></div>


<script>
function show()
     {
         $.ajax({
             url:  '{% url 'task' pk=id %}',
             data: {
            'inputValue': 0
            },
             dataType: 'json',
             success: function(html){
             	for (var i in html) {
             		$("#content").append(`<p id='name'>${i.user_name}</p>`);
             		$("#content").append(`<p id='message'>${i.message}</p>`);
             		$("#content").append(`<p id='date'>${i.date}</p>`);
             	}
             }
         });
     }

     $(document).ready(
     	function(){
         show();
         setInterval('show()',1000);
     });
 </script>
{% endblock %}